* {
	padding: 0;
	margin: 0;
}
*,
::after,
::before {
	box-sizing: border-box;
}
/* ========= Colors ========= */
:root {
	--site-gold: #e3b04b;
	--site-accent: #f1d6ab;
	--site-dark: #2b2b28;
	--site-silver: #c3c2b2;
	--site-white: #fff;
}

/* ========= General ========= */

body,
html {
	margin: 0;
	background-color: var(--site-dark);
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: var(--site-gold);
	text-decoration: none;
}
ul,
li {
	list-style-type: none;
}
.row {
	margin: 0;
}
.container-fluid {
	padding: 0;
}
/* ========= Navbar ========= */

.navbar {
	height: 99px;
	background-color: var(--site-dark);
	border-bottom: 1px solid var(--site-accent);
}

.navbar-nav > li > a {
	text-decoration: none;
	color: var(--site-dark);
	opacity: 150% !important;
}
.navbar-nav > li > a:hover {
	color: var(--site-white);
}
#logo {
	margin-left: -20px;
}
.logo-text {
	font-family: 'Bangers', cursive;
	font-size: 28px;
	vertical-align: middle;
	margin-left: 0px;
}
.navbar-toggler {
	padding: 10px;
	background-color: var(--site-silver);
	color: black;
}
/* --------- Navbar Media Queries --------- */
@media (max-width: 576px) {
	#top-nav {
		display: none;
	}

	#logo {
		display: inline-block;
		width: 80px;
		padding: 0;
		margin-right: 20px;
	}
	.navbar-collapse {
		height: fit-content;
		color: var(--site-white);
		background-color: var(--site-dark);
		opacity: 90%;
		text-align: center;
		font-size: 1.5rem;
		line-height: 2em;
		border-top: 1px solid var(--site-accent);
		border-bottom: 1px solid var(--site-accent);
	}
}
nav > .navbar {
	display: block;
}
@media (min-width: 576px) {
	#logo {
		width: 100px;
		padding-right: 20px;
	}
	.navbar {
		height: 140px;
	}
}

/* ========= Header ========= */
.hero-wrapper {
	position: relative;
}
.hero-img {
	margin: 100px 0 0 0;
	max-width: 100%;
}
@media (min-width: 992px) {
	.hero-img {
		margin: 0 auto;
		height: 80vh;
	}
}
.header-wrapper {
	width: 100%;
	padding: 0;
}
.hero-wrapper {
	background-color: var(--site-accent);
}
.hero-divider {
	margin: 0px 0px 10px 0px;
	position: relative;
	background-color: var(--site-accent);
}
.join-info {
	width: 100%;
	background-color: var(--site-gold);
	padding: 10px;
	border-top: 1px solid var(--site-accent);
	border-bottom: 1px solid var(--site-accent);
	-webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.6);
	margin: 10px auto;
}
.join-info:hover {
	padding: 4px;
	background-color: var(--site-white);
	border: 7px dashed var(--site-gold);
}
.join-info-text {
	color: #000;
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: 4px;
	padding-bottom: 4px;
}

.join-info-sub {
	font-size: 0.8em;
	margin-top: 8px;
	margin-bottom: 10px;
	color: #000;
}
.far {
	position: relative;
	top: 4px;
	margin-left: 10px;
}
@media (min-width: 576px) {
	i {
		font-size: 34px;
	}
}
/* ========= Carousel ========= */

@media (max-width: 576px) {
	.carousel {
		min-width: 100%;
	}
}
.carousel {
	margin: 0 auto;
	max-width: 45%;
}
.carousel-item {
	transition: transform 1.6s ease-in-out, -webkit-transform 1.6s ease-in-out;
}

.carousel-inner > .item {
	position: relative;
}
.carousel-img {
	width: 100%;
	max-height: 500px;
	margin: 5px;
}
/* ========= CONTACT - INFOBOX ========= */
.info-box {
	background-image: url(../assets/images/pic4.jpg);
	background-size: cover;
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
.info-box-item {
	width: 40%;
	padding: 2px 0px;
	color: var(--site-white);
	display: inline-block;
	border-radius: 2px;
	background-color: rgba(65, 64, 64, 0.651);
}
.info-box-background {
	background-color: rgba(255, 255, 255, 0.35);
}
.info-box-item > ul {
	display: inline-block;
	border-radius: 2px;
	padding: 10px;
}
.info-box-text {
	color: var(--site-white);
	font-weight: bold;
	font-style: italic;
}
@media (max-width: 576px) {
	.info-box-item {
		width: 90%;
		display: inline-block;
		padding: 2px 0px;
		color: var(--site-white);
	}

	i {
		font-size: 26px;
		margin: 8px;
	}
}
.info-email {
	margin-left: 30px;
}

/* ========= Main ========= */
.card {
	margin: 10px 5px;
	width: 300px;
}
.card-body {
	background-color: var(--site-dark);
	color: var(--site-white);
	height: 200px;
}
.card-title {
	margin: 0 auto;
	margin-top: 65%;
	width: 150px;
	border-radius: 20%;
	font-size: 38px;
	-webkit-box-shadow: 33px 25px 71px -32px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 33px 25px 71px -32px rgba(0, 0, 0, 0.75);
	box-shadow: 33px 25px 71px -32px rgba(0, 0, 0, 0.75);
}
.card-text {
	height: 50px;
	margin: 20px;
}
.mf-membership {
	background-color: var(--site-accent);
}
.membership-icon {
	height: 300px;
}
.membership-icon {
	margin: 0 auto;
	background-color: var(--site-silver);
	height: 250px;
	width: 250px;
}
.btn-custom {
	background-color: var(--site-gold);
	color: var(--site-dark);
	border-left: 7px solid var(--site-gold);
	border-right: 7px solid var(--site-gold);
	border-radius: 10px;
	padding: 10px 20px;
	-webkit-box-shadow: 14px 19px 72px -16px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 14px 19px 72px -16px rgba(0, 0, 0, 0.75);
	box-shadow: 14px 19px 72px -16px rgba(0, 0, 0, 0.75);
}
.btn-custom:hover {
	color: var(--site-white);
	background-color: var(--site-dark);
	border-top: 1px solid gold;
	border-bottom: 1px solid gold;
}
@media (max-width: 576px) {
	.btn-custom {
		background-color: var(--site-gold);
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-radius: 0px;
		padding: 5px 10px;
		margin: 2.4px 15px;
		-webkit-box-shadow: 14px 19px 72px -16px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 14px 19px 72px -16px rgba(0, 0, 0, 0.75);
		box-shadow: 14px 19px 72px -16px rgba(0, 0, 0, 0.75);
	}
}

/* ========= Footer ========= */
footer {
	background-color: var(--site-dark);
	color: var(--site-white);
}
.footer-social {
	border-top: 1px solid var(--site-accent);
	padding-top: 3px;
}

.social-icons {
	text-align: center;
	border-bottom: 1px solid var(--site-accent);
	padding-bottom: 3px;
}
.social-icons > a > i {
	padding: 0 10px;
	font-size: 2em;
}
.footer-nav {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 15px;
}
.footer-nav > ul > li {
	padding: 7px 0px;
	background-color: rgba(255, 255, 255, 0.05);
	margin: 2px;
}
@media (min-width: 576px) {
	.footer-social {
		border-top: 1px solid var(--site-accent);
		padding-top: 20px;
	}
	.social-icons {
		padding-bottom: 20px;
	}
	.social-icons > a > i {
		font-size: 3em;
		padding-left: 30px;
		padding-right: 30px;
	}

	.footer-copyright {
		font-size: 0.65em;
		text-align: left;
		display: block;
		margin-left: 80px;
	}
}
.footer-copyright {
	width: 100%;
	font-size: 0.65em;
	text-align: center;
	display: block;
}
.footer-main {
	padding: 30px 30px 10px 30px;
}
.footer-content-wrapper {
	width: 100%;
	display: block;
	border-bottom: 1px solid var(--site-accent);
	padding-bottom: 15px;
}
.footer-brand > img {
	width: 120px;
	height: 120px;
}
@media (min-width: 768px) {
	.footer-content-wrapper {
		display: inline-flex;
		padding-bottom: 0;
	}
	.footer-brand {
		display: flex;
		height: fit-content;
	}
	.footer-brand > img {
		width: 180px;
		height: 180px;
	}
	.footer-brand > h2 {
		font-size: 3em;
		margin-left: 20px;
	}
}
.footer-brand {
	display: flex;
	height: fit-content;
}
.footer-brand > h2 {
	margin-left: 20px;
}
