* {
	padding: 0;
	margin: 0;
}

/* ========= Colors ========= */
:root {
	--site-blue: #1d5b9f;
	--site-khaki: #b68561;
	--site-brown: #7d6156;
	--site-gray: #5e6470;
	--site-dark-gray: #3c4245;
	--site-silver: #c3c2b2;
	--site-white: #fff;
}

/* ========= General ========= */
a {
	color: inherit;
}
body {
	background-color: var(--site-dark-gray);
}
/* ========= Navbar ========= */
.navbar {
	background-color: var(--site-dark-gray);
	border-bottom: 1px solid var(--site-gray);
}
.navbar-nav > li > a {
	text-decoration: none;
}
#logo {
	font-family: 'Bangers', cursive;
	font-size: 30px;
}
/* --------- Navbar Media Queries --------- */
@media (max-width: 576px) {
	#top-nav {
		display: none;
	}
	#logo {
		width: 100px;
		padding: 0;
		margin-right: 20px;
	}
	.navbar-collapse {
		color: var(--site-white);
		text-align: center;
		font-size: 1.5rem;
		line-height: 2em;
	}
}
nav > .navbar {
	display: block;
}
@media (min-width: 576px) {
	#logo {
		width: 100px;
		padding-right: 20px;
	}
}

.navbar-toggler {
	margin-right: 10px;
}
/* ========= Header ========= */
.header-wrapper {
	width: 100%;
	padding: 0;
}
.join-info {
	width: 100%;
	background-color: var(--site-dark-gray);
	padding: 10px;
	border-top: 1px solid var(--site-gray);
	border-bottom: 1px solid var(--site-gray);
}
.join-info-text {
	color: var(--site-white) !important;
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: 4px;
	padding-bottom: 4px;
	border-bottom: 2px solid var(--site-white);
	animation: ;
}

.join-info-sub {
	margin-top: 8px;
	margin-bottom: 0px;
	color: var(--site-silver);
}
.far {
	position: relative;
	top: 4px;
}
.far:hover {
	color: var(--site-blue);
}
.carousel-inner > .item {
	position: relative;
}
.carousel-img {
	margin-top: 126px;
	width: 100%;
	max-height: 700px;
}
/* ========= Sidebar ========= */

/* ========= Main ========= */

/* ========= Footer ========= */
